<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngFor="let trackcard of trackcardList">
    <app-trackingcard-trackcard
      [trackcard]="trackcard"
    ></app-trackingcard-trackcard>
  </ng-container>
</ion-content>
