<ion-header>
  <ion-toolbar>
    <ion-title>SportTracking – Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <ion-list>

      <ion-item>
        <ion-label color="primary" stacked>Login</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

    </ion-list>

    <div>Or</div>

    <div padding>
      <ion-button color="primary" block type="submit">Sign In</ion-button>
    </div>
  </form>
</ion-content>
