<ion-card>

  <ion-item>
    <ion-avatar item-left>
      <img src="https://avatars.io/facebook/joshua.morony" />
    </ion-avatar>
    <h2>Josh Morony</h2>
    <p>November 5, 1955</p>
  </ion-item>

  <img src="https://png.icons8.com/office/1600/pushups.png" />

  <ion-card-content>
    Отжался 30 раз<br>
    {{ trackcard.message }}
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>
