<ion-tabs>
  <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Activity" icon="heart-empty" href="/tabs/(activity:activity)">
    <ion-router-outlet name="activity"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="contact" href="/tabs/(profile:profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
